* {
  background-color: var(--primary-color-light);
}

h1 {
  font-family: 'Londrina Solid';
  font-size: 9vh;
  font: #381697;
  /* font: var(--primary-color-dark)  */
}

#text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font: var(--primary-color-dark) */
}


