

* {
  background-color: var(--primary-color-light);
}
h1 {
  font-family: 'Londrina Solid';
  font-size: 9vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

#movieDisplay2 {
  display: none;
}

#userInput {
  width: fit-content;
}

/* The Close Button */
.close {
  color: #AAAAAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

