body {
  background: url(../images/img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dadStyle {
  background: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  color:antiquewhite;
}

h1 {
  font-family: 'Londrina Solid';
  font-size: 9vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#userInput {
  width: fit-content;
  color: #AAAAAA;
}

/* Wiggle Effect */
.wiggle:hover, .wiggle:active {
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
}
@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}

#text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: antiquewhite;
}

